 /*DIOGO*/
 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }

    header {
      background-color: #1e90ff;
      color: white;
      padding: 8px 0;
      text-align:left;
      position: relative;
      font-family: 'Courier New', Courier, monospace;
    }

    .logo {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 150px;
      height: auto;
    }

    nav {
      display: flex;
      background-color: #333;
      justify-content: center;
      flex-wrap: wrap;
    }

    nav button {
      background-color: #333;
      color: #f2f2f2;
      border: none;
      padding: 14px 16px;
      cursor: pointer;
      font-size: 16px;
    }

    nav button:hover,
    nav button.active {
      background-color: #ddd;
      color: black;
    }

    main {
      padding: 20px;
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }

    h2 {
      color: #1e90ff;
    }

    footer {
      background-color: #1e90ff;
      color: white;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      width: 100%;
      bottom: 0;
    }

    @media (max-width: 600px) {
      nav {
        flex-direction: column;
      }

      nav button {
        text-align: left;
        width: 100%;
      }

      .logo {
        position: static;
        display: block;
        margin: 10px auto 0;
      }
    }